* {
    box-sizing: border-box;
    font-family: monospace;
}
html {
    width: 100%;
}
header {
    background-color: #2f343f;
    padding-left: 5vw;
    padding-right:  5vw;
}
body {
    margin: 0;
    background-color: #242933;
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}  
#heading {
    display: flex;
    justify-content: space-between;
    align-items:center;
} 
#content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#create-new {
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-top: 5vh;

}
#flashcard-view {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
label {
    margin-top: 15px;
    margin-bottom: 15px;
}
input {
    width: 75%;
    height: 40px;
    background-color: transparent;
    color: #F2F0EC ;
    padding: 3%;
    border: 2px solid #F2F0EC ;
    border-radius: 14px;
    margin-top: 15px;
    margin-bottom: 15px;

}
nav {
    color: #F2F0EC;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    
}
p, h1, h2, h3 {
    color: #F2F0EC ;
}
